@model Order

<h3 class="text-center">Finalizar compra</h3>
<form asp-action="FinishPayment" asp-controller="Payment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="PostalCode"></label>
            <input class="form-control" asp-for="PostalCode" onblur="BuscarDadosCep(this.value)"/>
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label class="col-form-label" asp-for="Adress"></label>
            <input class="form-control" asp-for="Adress" placeholder="Avenida das Americas" />
            <span asp-validation-for="Adress" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="City"></label>
            <input class="form-control" asp-for="City" placeholder="Ex: Curitiba/PR" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-md-2 mb-3">
            <label class="col-form-label">N° Casa</label>
            <input class="form-control" id="numCasa"/>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="Phone"></label>
            <input class="form-control" asp-for="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="Username"></label>
            <input class="form-control" asp-for="Username" oninput="MascaraCpf(this.value)"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label class="col-form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-success">Finalizar compra</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}